[submodule "Abigail"]
	path = Abigail
	url = https://github.com/abigail-1113/RWC---Abigail.git
[submodule "Ms.Mou"]
	path = Ms.Mou
	url = https://github.com/MsMou/RWCWebDevelopment.git
[submodule "Keenan"]
	path = Keenan
	url = https://github.com/keenanfarhan/RWCWebDevelopment.git
