[submodule "Abigail"]
	path = Abigail
	url = https://github.com/abigail-1113/RWC---Abigail.git
[submodule "Ms.Mou"]
	path = Ms.Mou
	url = https://github.com/MsMou/RWCWebDevelopment.git
[submodule "Keenan"]
	path = Keenan
	url = https://github.com/keenanfarhan/RWCWebDevelopment.git
[submodule "Ayomide"]
	path = Ayomide
	url = https://github.com/ZackZoom/RWC-Web-Develpoment.git
[submodule "Stephanie"]
	path = Stephanie
	url = https://github.com/stephanies8032/rwc.git
